src/main/app/maven-project.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule 
	xmlns:db="http://www.mulesoft.org/schema/mule/db" 
	xmlns:json="http://www.mulesoft.org/schema/mule/json" 
	xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" 
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" 
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	>

	<http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration" />
	<spring:beans>
		<spring:bean id="Bean" name="Bean" class="com.mulesoft.training.Database" />
	</spring:beans>
	<db:derby-config name="Derby_Configuration" url="jdbc:derby:memory:muleEmbeddedDB;create=true" doc:name="Derby Configuration" />

	<flow name="mavenFlow">
		<http:listener config-ref="HTTP_Listener_Configuration" path="/hello" doc:name="HTTP" />
		<set-payload value="#['Hello Maven']" doc:name="Set Payload" />
	</flow>

	<flow name="retrieveFlights">
		<http:listener config-ref="HTTP_Listener_Configuration" path="/flights" doc:name="HTTP" />
		<db:select config-ref="Derby_Configuration" doc:name="Database">
			<db:parameterized-query><![CDATA[select * from flights]]></db:parameterized-query>
		</db:select>
		<json:object-to-json-transformer doc:name="Object to JSON" />

	</flow>
</mule>
